{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DayToDay</title>

    <!--Cs style-->
    <link rel="stylesheet" type="text/css" href="{% static 'task/update.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h2>Update Task</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="update-form">{{forms}}</div>
                <input class="update" type="submit" value="Update Task">
            </form>
        </div>
    </div>
</body>
</html>